* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    padding: 16px;
    overflow: hidden;
    background-image: url('../images/background.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.creeper {
    width: 500px;
    height: 500px;

    padding: 80px 60px;
    background-color: #3DAE30;
    border-radius: 8px;
    border: 6px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creeper .attribute {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creeper .attribute.eyesBox { width: 100%; }
.creeper .attribute.mouthBox { width: 100%; }

.creeper .attribute.eyesBox .eye {
    width: 130px;
    height: 130px;
    background-color: #000;
}

.creeper .attribute.mouthBox {
    height: 470px;
    justify-content: center;
    align-items: flex-end;
}

.creeper .attribute.mouthBox .mouth {
    width: 90px;
    height: 130px;
    background-color: #000000;
}

.creeper .attribute.mouthBox .nose {
    width: 108px;
    height: 130px;
    background-color: #000;
    align-self: flex-start;
}

.explode {
    animation: explode 5s ease;
}

.egg1Animate {
    animation: egg-1 2s ease;
}

.egg2Animate {
    animation: egg-2 2s ease;
}

.hidden { display: none; }

@media (max-width: 640px) {
    .creeper {
        width: 350px;
        height: 350px;
        padding: 56px 42px;
    }
    .creeper .attribute.eyesBox .eye {
        width: 91px;
        height: 91px;
    }
    .creeper .attribute.mouthBox .mouth {
        width: 63px;
        height: 91px;
        background-color: #000000;
    }
    .creeper .attribute.mouthBox .nose {
        width: 77px;
        height: 91px;
        background-color: #000;
        align-self: flex-start;
    }
}

@keyframes explode {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(5);
        background-color: #ffffff87;
    }
}

@keyframes egg-1 {
    from {
        transform: 0;
    }
    
    50% {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes egg-2 {
    from {
        transform: 0;
    }
    
    50% {
        transform: rotate(-30deg);
    }

    to {
        transform: rotate(0);
    }
}